<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="page-content">
  <div class="container">
    <p></p>
    <div id="description">
      <div class="jumbotron text-center shadow about-jumbotron" style="color: #5b197b;">
        <h3>
            Women's Empowerment Ambassadors (WEA) aims to inform its members about gender 
            inequalities and empower them to advocate for women's rights. We welcome all 
            people and want to foster a united community of strong individuals with a shared
            goal of equality. Aside from our lunch-time meetings, we hose socials, participate
            in the women's march, host a period product drive, and volunteer with local organizations. 
        </h3>
      </div>
    </div>
  </div>
  <hr class="short-hr"> 
  <h1>Officers</h1>
  <div class="card-deck">
    <div class="row row-cols-1 row-cols-md-4">
      <div class="col mb-4">
          <div class="card h-100 shadow" style="width: 17rem;">
            <img src="/anna.JPG" class="card-image-top-anna">
            <div class="card-body">
              <h3 class="card-title">Anna Perronne</h3>
              <h5 class="officer-role">President</h5>
              <p class="card-text">
                Hey! I'm Anna and I've been a WEA officer for the past two years.
                I'm super excited to serve as your president this year and have the 
                opportunity to share about what I've learned and my personal experiences 
                with gender inequalities. I love to engage in conversations about empowering 
                women, embracing our feminity and masculinity, as well as the the importance
                of loving and supporting all genders while specifically advocating for
                women's rights. Aside from WEA, I am an avid runner and a part of Homestead's
                cross country and track team, I have an obsession with coffee shops, I enjoy
                sewing and baking, and I have a passion for all things social justice.
              </p>
            </div>
          </div>
      </div>
      <div class="col mb-4">
          <div class="card h-100 shadow" style="width: 17rem;">
            <img src="/favicon.ico" class="card-image-top-tamdan">
            <div class="card-body">
              <h3 class="card-title">Tam-Dan Nguyen</h3>
              <h5 class="officer-role">Vice President</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col mb-4">
          <div class="card h-100 shadow" style="width: 17rem;">
            <img src="/favicon.ico" class="card-image-top-kaylene">
            <div class="card-body">
              <h3 class="card-title">Kaylene Son</h3>
              <h5 class="officer-role">Secretary</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col mb-4">
          <div class="card h-100 shadow" style="width: 17rem;">
            <img src="/favicon.ico" class="card-image-top-abby">
            <div class="card-body">
              <h3 class="card-title">Abby Oneill</h3>
              <h5 class="officer-role">Treasurer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col mb-4">
          <div class="card h-100 shadow" style="width: 17rem;">
            <img src="/favicon.ico" class="card-image-top-jackie">
            <div class="card-body">
              <h3 class="card-title">Jackie Khuong</h3>
              <h5 class="officer-role">Social Manager</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col mb-4">
          <div class="card h-100 shadow" style="width: 17rem;">
            <img src="/favicon.ico" class="card-image-top-indy">
            <div class="card-body">
              <h3 class="card-title">Indy De Smet</h3>
              <h5 class="officer-role">Public Relations</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col mb-4">
          <div class="card h-100 shadow" style="width: 17rem;">
            <img src="/jena.jpg" class="card-image-top-jena">
            <div class="card-body">
              <h3 class="card-title">Jena Alsup</h3>
              <h5 class="officer-role">Tech Commissioner</h5>
              <p class="card-text">
                  Hi everyone! My name is Jena, I’m a junior, 
                  and I’m thrilled to serve as your tech commissioner this year. It saddens 
                  me that the majority of STEM careers as well as company leadership positions 
                  are male-dominated and I am excited to utlize WEA as a platform to pursue my 
                  interest in this space and work towards a common goal of gender equality with 
                  others. When I'm not managing the WEA website, you can find me reading historical 
                  fiction novels, playing soccer, hiking, eating chocolate, and experimenting with 
                  vegan recipes. I look forward to meeting all of you!
              </p>               
            </div>
          </div>
      </div>
      <div class="col mb-4">
          <div class="card h-100 shadow" style="width: 17rem;">
            <img src="/favicon.ico" class="card-image-top-vanni">
            <div class="card-body">
              <h3 class="card-title">Ms. Vanni</h3>
              <h5 class="officer-role">Advisor</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>



