<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="page-content">
  <div class="container">
    <br>
    <br>
    <h1 class="text-center">Officers</h1>
    <hr class="short-hr">
    <br>
    <br>
    <div class="card-deck">
      <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-4">
            <div class="card h-100 shadow" style="width: 17rem;">
              <img src="/anna.JPG" class="card-image-top-anna">
              <div class="card-body">
                <h3 class="card-title">Anna Perronne</h3>
                <h5 class="officer-role">President</h5>
                <p class="card-text">
                  Hey! I'm Anna and I've been a WEA officer for the past two years.
                  I'm super excited to serve as your president this year and have the 
                  opportunity to share about what I've learned and my personal experiences 
                  with gender inequalities. I love to engage in conversations about empowering 
                  women, embracing our femininity and masculinity, as well as the importance
                  of loving and supporting all genders while specifically advocating for
                  women's rights. Aside from WEA, I am an avid runner and a part of Homestead's
                  cross country and track team, I have an obsession with coffee shops, I enjoy
                  sewing and baking, and I have a passion for all things social justice.
                </p>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 shadow" style="width: 17rem;">
              <img src="/favicon.ico" class="card-image-top-tamdan">
              <div class="card-body">
                <h3 class="card-title">Tam-Dan Nguyen</h3>
                <h5 class="officer-role">Vice President</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 shadow" style="width: 17rem;">
              <img src="/favicon.ico" class="card-image-top-kaylene">
              <div class="card-body">
                <h3 class="card-title">Kaylene Son</h3>
                <h5 class="officer-role">Secretary</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 shadow" style="width: 17rem;">
              <img src="/favicon.ico" class="card-image-top-abby">
              <div class="card-body">
                <h3 class="card-title">Abby Oneill</h3>
                <h5 class="officer-role">Treasurer</h5>
                <p class="card-text">
                  My name is Abby and I’m super excited to be the WEA treasurer this year. 
                  My interest in feminism stems from my own experiences both at home and 
                  in other countries. Last summer, I was given the opportunity to live in 
                  rural Panama where I met so many amazing people, but also witnessed first 
                  hand the extent to which gender roles affect many of the local’s lives. 
                  The little girls often dropped out of school earlier than the boys and 
                  ended up staying home to take care of the house. With all the opportunities 
                  we have access to in the silicon valley, I think it’s important to educate 
                  one another and help women everywhere gain equality. Aside from Wea, I’m 
                  an avid soccer player, yogini, and advocate for education through various projects.
                </p>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 shadow" style="width: 17rem;">
              <img src="/jackie.JPG" class="card-image-top-jackie">
              <div class="card-body">
                <h3 class="card-title">Jackie Khuong</h3>
                <h5 class="officer-role">Social Manager</h5>
                <p class="card-text">
                  Hey fellow WEA club members! I’m Jackie and I'll be serving as your 
                  social manager this year! I only joined WEA last year but have learned 
                  so much and have ultimately joined a community who share the interest 
                  of gaining gender equality on all fronts. WEA has provided me with a 
                  safe place to have these tough conversations about injustices that women 
                  experience everyday on the global scale but also in our own lives. 
                  Outside of WEA I enjoy playing soccer, photography, doing yoga, and 
                  exploring any new adventure I can find. I can't wait to start this new 
                  year with you all! 
                </p>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 shadow" style="width: 17rem;">
              <img src="/indy.JPG" class="card-image-top-indy">
              <div class="card-body">
                <h3 class="card-title">Indy De Smet</h3>
                <h5 class="officer-role">Public Relations</h5>
                <p class="card-text">
                  Hey everyone! I’m Indy and I am the public relations for WEA this year! 
                  Even though I have only been a part of WEA for one year, I am stoked to 
                  be a part of WEA and help spread awareness to the community about every 
                  aspect of gender inequality. Being a part of WEA has made me realize how 
                  much of a disadvantage women have in their daily lives and not only has 
                  made me want to change things, but also made me more comfortable talking 
                  about my own personal issues related to inequality. Other than being a 
                  part of WEA, I also play volleyball, love baking, and love to relax and 
                  get rid of all my stress with yoga. I’m super stoked for this year and 
                  can’t wait to help spread more knowledge to the community!
                </p>
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 shadow" style="width: 17rem;">
              <img src="/jena.jpg" class="card-image-top-jena">
              <div class="card-body">
                <h3 class="card-title">Jena Alsup</h3>
                <h5 class="officer-role">Tech Commissioner</h5>
                <p class="card-text">
                    Hi everyone! My name is Jena, I’m a junior, 
                    and I’m thrilled to serve as your tech commissioner this year. It saddens 
                    me that the majority of STEM careers as well as company leadership positions 
                    are male-dominated and I am excited to utilize WEA as a platform to pursue my 
                    interest in this space and work towards a common goal of gender equality with 
                    others. When I'm not managing the WEA website, you can find me reading historical 
                    fiction novels and memoirs, playing soccer, hiking, eating chocolate, and experimenting with 
                    vegan recipes. I look forward to meeting all of you!
                </p>               
              </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card h-100 shadow" style="width: 17rem;">
              <img src="/favicon.ico" class="card-image-top-vanni">
              <div class="card-body">
                <h3 class="card-title">Ms. Vanni</h3>
                <h5 class="officer-role">Advisor</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
      </div>
    <br>
    </div>
  </div>
</div>



