<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="page-content">
  <div class="container">
    <div class="jumbotron text-center text-white shadow">
      <h1>Get in touch!</h1>
      <hr class="my-4">
      <h2>Questions? Comments? Feel free to contact us at hhswea[at]gmail.com</h2>
      <h3>Add yourself to our mailing list <u><%= link_to 'here', 'https://drive.google.com', class: "text-white" %></u></h3>
    </div>
  </div>
</div>