<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="page-content">
  <div class="container">
    <br>
    <br>
    <div class="jumbotron contact-jumbotron text-center shadow" style="color: #5b197b;">
      <h1>Get in touch!</h1>
      <hr class="short-hr">
      <h2>Questions? Comments? Feel free to contact us at hhswea[at]gmail.com</h2>
      <h3>Add yourself to our mailing list <u class="mailing-list-link"><%= link_to 'here', 'https://drive.google.com' %></u></h3>
    </div>
    <br>
    <br>
  </div>
</div>