<div id="page-content">
  <div class="container">
    <div class="jumbotron text-center text-white">
      <h1>Welcome to the official website of WEA, Homestead's Women's Empowerment Ambassadors club!</h1>
      <hr class="my-4">
      <h3>Add yourself to our mailing list <u><%= link_to 'here', 'https://drive.google.com', class: "text-white" %></u></h3>
    </div>
  </div>
</div>
<footer id="sticky-footer" class="py-4 bg-white">
  <div class="container text-center">
    <small>Copyright &copy; Homestead WEA</small>
  </div>
</footer>