<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="page-content">
  <div class="container">
    <div class="jumbotron text-center shadow" style="color: #5b197b;">
      <br>
      <h2>Welcome to the official website of WEA, Homestead's Women's Empowerment Ambassadors club!</h2>
      <hr class="short-hr">
      <h6>
          Women's Empowerment Ambassadors (WEA) aims to inform its members about gender 
          inequalities and empower them to advocate for women's rights. We welcome all 
          people and want to foster a united community of strong individuals with a shared
          goal of equality. Aside from our lunch-time meetings, we host socials, participate
          in the women's march, host a period product drive, and volunteer with local organizations. 
      </h6>
    </div>
  </div>
</div>