.officer-role {
  color: #5b197b;
  text-transform: uppercase;
}

.card {
  width: 50%;
}

.card-title {
  color: black !important;
}

.about-jumbotron {
  height: 300px !important;
  font-size: 70%;
}

/* images */

.card-image-top-anna {
  background-image: asset-url('anna.JPG') !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 275px;
} 

.card-image-top-tamdan {
  background-image: asset-url('tamdan.jpeg') !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 275px;
} 

.card-image-top-kaylene {
  background-image: asset-url('kaylene.jpeg') !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 275px;
} 

.card-image-top-abby {
  background-image: asset-url('abby.JPG') !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 275px;
} 


.card-image-top-indy {
  background-image: asset-url('indy.JPG') !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 275px;
} 

.card-image-top-jena {
  background-image: asset-url('jena.jpg') !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 275px;
} 

.card-image-top-vanni {
  background-image: asset-url('favicon.ico') !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 275px;
} 