@import 'bootstrap/dist/css/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import 'navigation.css.scss', 'home.css.scss', 'about.css.scss', 'meetings.css.scss', 'footer.css.scss';

.jumbotron {
  background-color: white; 
  height: 55vh;
  margin-top: 5vh;
}

.short-hr {
  width: 100px;
}

.mailing-list-link {
  color: #5b197b !important;
}

.a {
  color: #5b197b !important;
}
/* sticky footer classes */

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.page-content {
  flex: 1 0 auto;
  background-color: #ddcaed;
}

#sticky-footer {
  flex-shrink: none;
}


