<footer id="sticky-footer" class="py-4 bg-white">
  <div class="container">
    <div id="left-footer"
      <small>Copyright &copy; Homestead WEA 2020</small>
    </div>
    <div id="right-footer">
      <a href="https://www.facebook.com/HHSWEA/" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/HHSWEA/" class="fa fa-instagram"></a>
    </div>
    </div>
  </div>
</footer>